@media only screen and (max-width: 1185px) {
    .section1 {
        flex-direction: column;
    }

    .div1 {
        margin-top: 0;
        flex-direction: column;
        align-items: center;
    }

    .article1 {
        padding-left: 24px;
    }

    .article1 > h1 {
        font-size: 44px;
        max-width: 85%;
    }

    .article1 > p {
        margin-bottom: 61px;
        max-width: 80%;
    }

    .img1 {
        content: url("images/img1.2.png");
        max-width: 690px;
        width: 95%;
        margin-top: 56px;
    }

    .greendiv {
        top: 0;
        width: 23%;
        height: 744px;
    }

    .section2 {
        margin-top: 0;
    }

    .list1 {
        flex-direction: column;
        height: 524px;
        max-width: 690px;
        margin: 67px auto;
        width: 94%;
        background: none;
        box-shadow: none;
    }

    .list1 > li:first-child {
        padding-top: 32px;
        padding-left: 32px;
    }

    .list1 > li {
        position: relative;
        display: flex;
        padding-top: 32px;
        padding-left: 32px;
        height: 164px;
        max-width: 690px;
        width: 95%;
        margin-bottom: 16px;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
        border-radius: 20px;
        margin-top: 0;
        border-left-width: 0px;
    }

    .list1 > li > article {
        margin-left: 122px;
        padding-top: 0;
        max-width: 394px;
    }

    .list1 > li > article > h3 {
        margin-top: 0px;
        margin-bottom: 0px;
        width: auto;
        height: auto;
    }

    .div3 {
        margin-right: 0;
        max-width: 690px;
        width: 100%;
    }

    .div3 > h2 {
        font-size: 44px;
    }

    .div3 > p {
        width: 100%;
    }

    .list2 > li {
        width: 100%;
    }

    .list2 > li > p {
        max-width: 466px;
        width: 75%;
        position: relative;
        z-index: 10;
        margin-top: 5px;
    }

    .div4 {
        display: none;
    }

    .section4 {
        height: 383px;
    }

    .div5 {
        width: 768px;
    }

    .div5 > h2 {
        right: 320px;
        top: 130px;
        font-size: 44px;
        line-height: 55px;
    }

    .div5 > img {
        content: url("images/img6.png");
    }

    .greendiv10 {
        visibility: hidden;
    }
    
    .green-transparent-div10 {
        visibility: hidden;
    }
    
    .greendiv20 {
        visibility: visible;
        right: 188px;
    }
    
    .green-transparent-div20 {
        visibility: visible;
        right: 95px;
    }

    .section5 {
        max-width: 768px;
        margin: 72px auto;
    }

    .list3 > li {
        margin-left: 39px;
        margin-bottom: 42px;
    }

    .list3 > li:nth-child(2) {
        margin-left: 39px;
    }
    
    .list3 > li:nth-child(4) {
        margin-left: 39px;
    }

    .grey-circle2 {
        width: 88px;
        height: 88px;
    }

    .lock-svg {
        width: 48.4px;
        height: 50.93px;
        left: 19px;
        top: 16px;
    }
    
    .blank-svg {
        width: 42.92px;
        height: 54.45px;
        left: 23px;
        top: 17px;
    }
    
    .coin-svg {
        width: 48.4px;
        height: 48.4px;
        left: 20px;
        top: 20px;
    }
    
    .geo-svg {
        width: 48.4px;
        height: 53.98px;
        left: 20px;
        top: 17px;
    }

    .section6 {
        max-width: 687px;
    }

    .section6 > h2 {
        font-size: 44px;
    }
    
    .works {
        flex-direction: column;
        justify-content: space-around;
    }

    .works > li {
        max-width: 687px;
        width: 100%;
        margin-bottom: 32px;
    }

    .work-1 > img {
        content: url("images/img20.png");
        max-width: 687px;
        width: 100%;
    }

    .work-2 > img {
        content: url("images/img21.png");
        max-width: 687px;
        width: 100%;
    }

    .work-3 {
        display: none;
    }

    .p1 {
        width: 513px;
    }
}